*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: red;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1.mcHeader{
    padding: 20px;
    text-align: center;
    color: white;
    /* background-color: red; */
    border: 3px solid white;
    border-radius: 30px;
}

ul{
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0;

}
li{
    float: left;
    width: 25%;
}
li a{
    display: block;
    padding: 14px 16px;
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    color: red;
    text-decoration: underline black;
}
/* .active{
    background-color: black;
} */
.img{
    width: 100%;
    border-bottom: solid 10px red;
}
div.friends{
    max-width: 1000px;
    height: 10%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 15px;
}
div.friends h1{
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}    

h1#header_2{
    background-color: white;
    color: red;
    padding: 50px 0 10px 0;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center ;
    padding: 0 100px;
    margin: 0;
    line-height: 50px;
    font-family: cursive;
}
footer{
    background-color: gray;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
#luigi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.wrap{
    text-align: center;  
    color: red;
    padding: 20px; 
    font-size: 20px; 
    font-family: cursive;
}
.gallery-wrap{
    text-align: center;
    margin-bottom: 20px;
}
.gallery-wrap div{
    position: relative;
    display: inline-block;
    padding: 10px;
}
.gallery-wrap div img{
    width: 500px;
    height: 300px;
    border-bottom: 8px red solid;
}
.gallery-wrap div p{
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 72%;
    left: 40%;
    background-color: red;  
    padding: 10px;
}
.cbg{
    width: 100%;
}
.wrapper{
    /* width: ; */
}